.image-container {
  width: 5.3rem;
  height: 5.3rem;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.item-image {
  width: 39px;
  border-radius: 10px;
}

.summoner-image {
  width: 35px;
  border-radius: 10px;
}
