<ng-container *ngIf="favourtieChampions | async as favouriteChampions">
  <div class="content w-2 h-4rem justify-content-center border-round-top-md align-items-center flex ml-3">
    <h2 class="">Favourite champions</h2>
  </div>
  <div
    *ngFor="let champion of favouriteChampions; let i = index"
    class="w-2 p-2 grid content ml-3"
  >
    <div class="flex justify-content-between flex-wrap w-full">
      <div
        class="flex justify-content-center w-5rem h-4rem bg-primary font-bold"
      >
        <img
          src="https://ddragon.leagueoflegends.com/cdn/14.8.1/img/champion/{{
            champion.id
          }}.png"
          class="border-circle mt-2 ml-1 max-w-6rem enlarge-image"
          alt=""
        />
      </div>
      <div
        class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2"
      >
        <h3 class="flex flex-wrap align-items-center justify-content-center">
          {{ champion["name"] }}
        </h3>
      </div>
      <div
        class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2"
      >
        <img
          [src]="
            champion.chest
            ? '../../../assets/chestNotAvailable.png'
            : '../../../assets/chest.png'
          "
          class="max-w-6rem mr-3"
          alt=""
        />
      </div>
      
    </div>
    <hr class="w-10" *ngIf="i!=6">
  </div>
 
  <div class="content w-3 h-1rem border-round-bottom-md align-items-center -mt-2 ml-3">
  </div>
</ng-container>
