<div class="row">
  <div class="col">
    <div class="title">
      <h1>League Stats</h1>
    </div>
    <input type="text" pInputText [(ngModel)]="summonerName" class="w-5 mx-4" />
    <p-dropdown
      [options]="regions"
      [(ngModel)]="selectedRegion"
      optionLabel="name"
      [showClear]="true"
      placeholder="Select a region"
      class="dropdown"
    ></p-dropdown>
    <p-button
      label="Search"
      class="search-button rounded ml-4"
      severity="secondary"
      (onClick)="onSearchSummoner()"
    ></p-button>
  </div>
</div>

<div class="card flex flex-column align-items-center inline rotation-icon">
  <div class="flex flex-column align-items-center gap-2">
    <span class="text-xl font-medium">Free champion rotation</span>
    <span
      class="slidedown-icon h-2rem w-2rem bg-primary border-circle inline-flex align-items-center justify-content-center"
    >
      <i class="pi pi-arrow-down"></i>
    </span>
  </div>
</div>

<div
  pAnimateOnScroll
  enterClass="fadein"
  leaveClass="fadeout"
  class="gap-3 flex flex-wrap align-items-center justify-content-center block animation-duration-1000"
>
  <app-rotation></app-rotation>
</div>
