.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}

.col{
    margin-left: 23%;
}

.input{
    border-radius: 15px;
    width: 600px;
    margin-right: 20px;
}

.search-button{
    margin-left: 20px;
}

.title{
    margin-top: 13%;
    margin-bottom: 10%;
    margin-left: 15%;
    color: white;
    font-size: 40px;

}

:host {
    @keyframes slidedown-icon {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .slidedown-icon {
        animation: slidedown-icon;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .box {
        background-image: radial-gradient(var(--primary-300), var(--primary-600));
        border-radius: 50% !important;
        color: var(--primary-color-text);
    }
}


