.title {
  margin-top: 18%;
  margin-bottom: 10%;
  margin-left: 15%;
  color: white;
  font-size: 40px;
}

:host {
  @keyframes slidedown-icon {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .slidedown-icon {
    animation: slidedown-icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

.rotation-icon {
  margin-top: -6rem;
  color: white;
}
